Repository nmsa/tma-framework-m, pull requests merged in 2018-11, with the labels that each got.

#47 Organization of Python Client Library
  development/dependency/docker-client-base/Dockerfile
  development/dependency/docker-client-base/build.sh
  development/dependency/docker-client-base/cert.pem
  development/dependency/python-probe-base/Dockerfile
  development/dependency/python-probe-base/communication.py
  development/dependency/python-probe-base/data.py
  development/dependency/python-probe-base/message.py
  development/dependency/python-probe-base/observation.py
  development/probes/probe-docker-metrics/Dockerfile
  development/probes/probe-docker-metrics/README.md
  development/probes/probe-docker-metrics/probe-docker-metrics.py
  development/probes/probe-k8s-docker/Dockerfile
  development/probes/probe-k8s-docker/README.md
  development/probes/probe-k8s-docker/build.sh
  development/probes/probe-k8s-docker/cert.pem
  development/probes/probe-k8s-docker/data.py
  development/probes/probe-k8s-docker/message.py
  development/probes/probe-k8s-docker/observation.py
  development/probes/probe-k8s-docker/probe-k8s-docker.py
  development/probes/probe-k8s-network/Dockerfile
  development/probes/probe-k8s-network/README.md
  development/probes/probe-k8s-network/data.py
  development/probes/probe-k8s-network/message.py
  development/probes/probe-k8s-network/observation.py
  development/probes/probe-python-demo/Dockerfile
  development/probes/probe-python-demo/README.md
  development/probes/probe-python-demo/communication.py
  development/probes/probe-python-demo/data.py
  development/probes/probe-python-demo/message.py
  development/probes/probe-python-demo/observation.py
Labels: create, enhancement, low priority, probes-support

#49 Monitor client fix for mvn shade in dependencies.
  development/libraries/monitor-client/pom.xml
  development/probes/probe-demo/src/main/java/eu/atmosphere/tmaf/probe/Main.java
Labels: enhancement

#51 New/feature/probe k8s network improvement
  development/probes/README.md
  development/probes/probe-k8s-network/README.md
  development/probes/probe-k8s-network/run.sh
  development/server/README.md
  development/server/flume/flume.sh
  development/server/kafka/kafka.yaml
Labels: create, enhancement, probes-support
